# http://editorconfig.org/

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psm1,psd1}]
indent_size = 4
charset = utf-8

[*.{json,yml,xml}]
indent_size = 2
